.col-1-2 {
    width: 50%;
    float: left;
  }
.col-2-3 {
    width: 65%;
    float: left;
  }
.p-0{
    padding: 0;
}
a {
  display: block;
}
.page-container {
  width: 100%; /* Ширина */
    background: #fc0; /* Цвет фона */
    padding: 20px; /* Поля */
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box;
  }